<div class="container">
  <div class=" rounded text-center">
    <img src="/assets/images/bigBurger_01.png" height="225">
  </div>
  <h1>Eat-Da-Burger</h1>

  {{#if error}}
  <div>{{error}}</div>
  {{/if}}

  <div class="row text-center">
    <div class="col-md-6">
      <ul>
        {{#each burgers}}
        {{#unless this.devoured}}
        <div class="row">
          <div class="col-md-8">
            <p class="uneaten text-center">{{this.id}}. {{this.name}}</p>
          </div>
          <div class="col-md-4">
            <button data-id={{this.id}} class="devour btn "> Devour it! </button>
          </div>
        </div>
        {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class="col-md-4">
      <ul>
        {{#each burgers}}
        {{#if this.devoured}}
        <p class="eaten text-center">{{this.id}}. {{this.name}}</p>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <form class="create-form center">

        <div class="form-group">
          <input type="text" id="burgerName" name="name" class="center-block burger_field">
        </div>

        <h4>Enter in a burger you would like to eat and then click the "Submit" button.</h4>
        <button type="submit" id="addBurger" class="btn-primary">Submit</button>
      </form>

    </div>
  </div>

</div>